<h1><%= @song.id ? 'Edit Song' : 'Create Song' %></h1>
<hr />
<%= form_for [@artist, @song] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <br />
  <%= f.label :album %>
  <%= f.text_area :album, required: true %>
  <%= f.submit %>
<% end %>


<%= @song.id ? (link_to 'Back to Songs', artist_songs_path(@artist)) : (link_to 'Back to Songs', artist_songs_path(@artist)) %>