<h1>Artist: <%= @artist.name %></h1>
<h2>Song: <%= @song.name %></h2>
<h4>Album: <%= @song.album %></h4>
<hr />
<%= link_to "Edit Song", edit_artist_song_path(@artist, @song)%>
<%= link_to "Delete Song", artist_song_path(@artist, @song), method: :delete %>
<%= link_to "Back to Songs", artist_songs_path(@artist) %>
