<h1>Billboards#show</h1>

<h1>Billboard: <%= @billboard.name %></h1>

<% if @songs.any? %>
  <% @songs.each do |song| %>
    <h4><%= song.name %></h4>
    <%= link_to "Remove from Billboard", remove_billboard_song_path(@billboard, song.id), method: :delete %>
  <% end %>
<% end %>

<h4><%= link_to "Add Song to Billboard", new_billboard_song_path(@billboard)%></h4>




<h4><%= link_to "Back to Billboards", billboards_path %></h4>